.sidebar-about h1 {
  font-size: 1.5rem;
}

.sidebar-about-avatar {
  margin: auto;
  width: 6.5rem; /* width of title */
}

@media (min-width: 48em) {
  .sidebar-about-avatar {
    margin: 0;
  }
}
.hours {
  font-size: 0.9rem;
}

.hours-item {
  margin-bottom: 0;
  margin-left: 1rem;
}
