.sidebar-about h1 {
  font-size: 1.5rem;
}

.sidebar-about-avatar {
  margin: auto;
  width: 12.5rem; /* width of title */
}

.welcome-banner-left {
  float: left;
  padding-right: 1rem;
  width: 70%;
}

.welcome-banner-right {
  float: right;
  width: 30%;
}

.welcome-banner-image {
  width: 100%;
}

@media (min-width: 48em) {
  .sidebar-about-avatar {
    margin: 0;
  }
}
.hours {
  font-size: 0.9rem;
}

.hours-item {
  margin-bottom: 0;
  margin-left: 1rem;
}
